html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.div-main {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.div-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-button {
  padding: 23px;
}

.div-right {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.row-item {
  flex-grow: 1;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.row-last-item {
  flex-grow: 1;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.last-row-item {
  flex-grow: 1;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.last-row-last-item {
  flex-grow: 1;
  border: 1px solid black;
}
